- run: |
    mkdir -p flipperzero-firmware/applications_user/air_dox
    cp air_dox.c \
       apple_ble_hash_demo.c \
       apple_ble_hash_demo.h \
       apple_ble_read_state.c \
       apple_ble_read_state.h \
       picohash.h \
       tiny_e164.h \
       application.fam \
       air_dox.png \
       flipperzero-firmware/applications_user/air_dox/
